.home {
    background-image: url('./../public/Assets/Images/PMLogo.jpg');
    height: 80vh;
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    margin: auto;
    color: whitesmoke;
  }